<p><%= "當前時間:#{Time.now}" %></p>
<h1>歡迎來到管理模式！!</h1>
<p><%= t(:hello , :name => @user_name , :scope => :admin)  %>
<p>
<%= link_to "中文版" , :controller => controller.controller_name , :action => controller.action_name , :locale => "zh-TW" %>
<%= link_to "English" , :controller => controller.controller_name , :action => controller.action_name , :locale => "en" %>



</p>
