<div class="span12">
   <div class="group">
      <%= link_to "New Group", new_club_group_path , :class => "btn btn-mini btn-primary pull-right" %>
   </div>
   <table class="table">
      <thead>
         <tr>
            <td> # </td>
            <td> Title </td>
            <td> Description </td>
         </tr>
      </thead>
      <tbody>
         <% @groups.each do |group| %>
         <tr>
            <td> # </td>
            <td> <%= link_to(group.title,club_group_path(group)) %> </td>
            <td> <%= link_to("Edit",edit_club_group_path(group) , :class => "btn btn-mini")  %>
            <td> <%= link_to "Delete", club_group_path(group) , :class => "btn btn-mini" , :method => "delete" , :confirm => "Are you sure?" %> </td>
         </tr>
         <% end %>
      </tbody>
   </table>







