<div class="span12">
   <div class="group">
      <%= link_to "Edit" , edit_club_group_path(@group) , :class => "btn btn-mini btn-primary pull-right" %>
      <%= link_to "Back to Index" , club_groups_path , :class => "btn btn-mini btn-warning pull-right" %>
   </div>

   <h2> <%= @group.title %> </h2>
   
   <p> <%= @group.description %> </p>
</div>

